/*cabecera de la página*/
body {
    background-color: #002d2b;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: grid;
    grid-template-columns: 561px auto 300px;
    grid-template-rows: 80px 206px;
    margin: auto;
    padding: auto;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color:#002d2b;
    
}
.list1:hover img{
    filter: brightness(0);
}
.logo1{
    display: none;
}

.logo {
    grid-row: 1 /span 2;
    


}

.barra-busqueda {
    grid-column: 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    



}

.rs {
    grid-column: 3;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;


}

.rs img {
    width: 40px;
    height: 40px;
}

nav {
    grid-column: 2 /span 2;
    grid-row: 2;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    height: 90px;
    margin-top: 50px;
    


}


.menu{
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el espacio interior predeterminado */
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Alinea los elementos verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
  
    
   
}



/* Ocultar el submenú por defecto */
.submenu1 {
    display: none;

    padding: 0;
    list-style-type: none;
    position: absolute;
}

/* Mostrar el submenú al pasar el mouse sobre el elemento principal */
.menu li:hover .submenu1 {
    display: block;
}





.submenu2 {
    display: none;
    
    padding: 0;
    list-style-type: none;
    position: absolute;
}

.submenu1 li:hover .submenu2 {
    display: block;
}

.lista-principal a {
    display: block;
    width: 220px;
    height: 60px;
    color: #00e1d8;
    background-color: black;
    text-decoration: none;
    line-height: 60px;
    text-align: center;

    font-size: 25px;
}

.menu .lista-principal:hover .list1 {
    background-color: #00e1d8;
    color: black;
}

.submenu1 .lista-secundaria:hover .list2 {
    background-color: #00e1d8;
    color: black;
}

.submenu2 .lista-terciaria:hover .list3 {
    background-color: #00e1d8;
    color: black;
}


.barraBusqueda {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
}

.botonBusqueda {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color:#00e1d8;
}
.hamburguesa {
    display: none;
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
    
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
  }
  article{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 270px;

}
/*css de contenido*/
.contLista{
    
    padding: 20px;
    font-size: 40px;
    border-radius: 20px;
    color: white;
    width: 900px;
    background-color: black;
   
  
}
.lista{
    display: flex;
    flex-wrap: wrap;
    
    background-color: black;
    padding-right: 210px;
    border-radius: 20px;
   
}
.medios{
    
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    border-radius: 20px;
    color: #00e1d8;
    height: 280px;
    margin-bottom: 55px;
    width: 450px;
    
    
   
}

.botonPagar{
    font-weight: bold;
    font-size: 20px;
}
.lista li{
    margin-bottom: 20px;
}
.lista ul{
    list-style-type: none;
}

@media all and (max-width:1700px) {
    header {
        grid-template-columns:  286px auto 300px;
        grid-template-rows: 81px auto ;
        gap: 10px;
    }
    .logo1{
        display: block;
        grid-column: 1;
        grid-row: 1;
        margin-top: 5px;

    }

    .logo {
        grid-column: 1 /span 2;
        grid-row: 1;
        text-align: center;
        display: none;

    }

    .barra-busqueda {
        grid-column: 2;
        grid-row: 1;

    }

    .rs {
        grid-column: 3;
        grid-row: 1;


    }

    nav {
        grid-column: 1 /span 3;
        grid-row: 2;
        text-align: center;
        margin-top: 5px;



    }
    article{
        margin-top: 200px;
    
    }

}


@media all and (max-width:1150px) {
    
    header {
        grid-template-columns: 286px auto 50px;
        grid-template-rows: 81px  ;
        gap: 10px;
        position: relative;
    }
   
    .barra-busqueda {
        grid-column: 2;
        grid-row: 1;
        

    }
    .hamburguesa {
        display: block;
        grid-column: 3;
        grid-row: 1;
        margin-top: 18px;
        height: 25px;
        
      }
   

    .rs {
      grid-row: 2;
      grid-column: 1 /span 3;
    }

    nav {
        grid-column: 1 /span 3;
        grid-row: 3;
        text-align: center;
        height: auto;
        
    }

    .menu{
        display: block;
        
      }
      .lista-principal .list1 {
          display: block;
          width: 100%;
          height: 60px;
          color: #00e1d8;
          background-color: black;
          text-decoration: none;
          line-height: 60px;
          text-align: center;
      
          font-size: 25px;
      }
     
     .prueba{
      display: flex;
      justify-content: center;
      margin: 0;
  
     }
     article{
    
       
        margin-top: 0px;
    
    }



}
@media all and (max-width:900px) {
    
    header {
        grid-template-columns: 286px auto 50px;
        grid-template-rows: 81px  ;
        gap: 10px;
    }
    
    .barra-busqueda {
        grid-column: 2;
        grid-row: 1;
       

    }

    .rs {
        grid-row: 2;
        grid-column: 1 /span 3;
    }

    nav {
        grid-column: 1 /span 3;
        grid-row: 3;
        text-align: center;
        height: auto;
        
    }

    .menu{
        display: none;
      }
     
    .hamburguesa {
        display: block;
        grid-column: 3;
        grid-row: 1;
        margin-top: 18px;
        height: 25px;
        
      }
    .barraBusqueda{
        width:80px;
        height: 50px;
    }
    .botonBusqueda{
        width: 30px;
        height: 50px;
    }
    .banner{
        display: none;
    }
    .mediosPago1{
        display: none;
    }
   
}

/*Footer*/

footer {
    background-color: black;
    border-radius: 20px;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 20px;
    color: #00e1d8;
    padding-bottom: 2px;

}

.mediosPago2 img {
    width: 150px;
    height: 80px;
    margin: auto 15px;
    margin-bottom: 5px;
}

.contenedor-footer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    


}

.mediosPago2 {

    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: first baseline;
}

#Copyright {
    color: white;
    letter-spacing: 2px;
    text-align: center;


}


